#playlist-container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: auto;
  background-color: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-height: 520px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dfdcdc;
  transition: background-color 0.3s ease;
}

li {
  padding: 15px;
  flex: 1;
  text-align: center;
}

li input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

li:nth-child(1) {
  flex: 0.5;
}

li:nth-child(3) {
  flex: 2;
}

li:nth-child(4) {
  flex: 1;
}

ul:hover {
  background-color: #d8d6d6;
}

.download-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadBtn {
  margin-top: 20px;
  padding: 12px 30px 12px 30px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
  margin-left: 30px;
}

.downloadBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.button-container span {
  text-align: center;
  font-size: 20px;
  color: red;
}

.previous-btn,
.next-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.previous-btn:hover,
.next-btn:hover {
  background-color: #0056b3;
}

.previous-btn:disabled,
.next-btn:disabled {
  background-color: #c6c3c3;
  color: #323232;
}

@media screen and (max-width: 768px) {
  #playlist-container {
    max-width: 90%;
    margin: 20px auto;
    padding: 15px;
  }

  .downloadBtn {
    margin-right: 20px;
  }
}

@media screen and (max-width: 650px) {
  #playlist-container {
    max-width: 100%;
  }

  ul {
    font-size: 12px;
  }

  .downloadBtn {
    margin-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  #playlist-container {
    max-width: 95%;
  }

  ul {
    font-size: 12px;
  }

  .downloadBtn {
    margin-right: 10px;
  }
}
