#playlist-container {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid #ccc;
}

li {
  width: 100%;

  padding: 10px;
  text-align: center;
}
